body {
    font-family: Helvetica, arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center
}

#contenedor-izquierdo {
    left: 0px;
}

#contenedor-derecho {
    right: 0px;
}

.contenedor-componente {
    height: 20vh;
    position: relative;
}

.componente {
    position: absolute;
    max-width: 15vw;
    max-height: 100%;
    z-index: 3;
}

.contenedor {
    background-color: eee;
    width: 15vw;
    height: 100%;
    top: 0px;
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.suelo {
    background: #C9E4C5;
    ;
    height: 70vh;
    width: 60vw;
    margin: 15vh auto 0;
    z-index: 2;
    display: flex;
}

.cielo {
    background: #BDE6F1;
    height: 30vh;
    width: 60vw;
    z-index: 1;
}
